 <ion-view cache-view="false" view-title="Scissor Selection">
        <ion-content>
            <div class="im-wrapper">
                <h2 class="sc-title">{{chat.title}}</h2></div> <img ng-src="{{chat.picture}}" err-src="img/blank.jpg" style="width:100%">
            <div class="im-wrapper-2 bordered">
                <div class="pright"><p>Sizes available:</p>
                    <div class="size">{{chat.Size}}</div></div>
                <div class="pleft"><h2>RRP: {{chat.Price}}</h2></div>
            </div>
            <div class="im-wrapper-2 bordered ">
                <p class="spaced">{{chat.Description}}</p>
                     <span class="prodcode"><strong>Product code:</strong> {{chat.ItemCode}}</span>
            </div>
            <div style="text-align:center">
             <button class="button icon-left ion-star" ng-click="addFavourite(chat)" ng-show="!chat.addedToFavourites" style="width:80%">Add to favourites</button>
    <button class="button icon-left ion-star button-negative" ng-click="removeFavourite(chat)" ng-show="chat.addedToFavourites" style="width:80%">Remove favourite</button></div>
            
            <button class="button" onclick="window.plugins.socialsharing.shareViaTwitter('Message and link via Twitter', null /* img */, 'http://www.x-services.nl')">TWEET ME</button>

        </ion-content>
    </ion-view>