 <ion-view view-title="Handle style">
        <ion-content>
            <div class="bar static text-center"> <strong class="title">What type of handle?</strong> </div>
            <ion-slide-box on-slide-changed="slideChanged(index)">
                <ion-slide> <img src="img/heads/offset.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Offset</h2>
                        <p> One handle is longer than the other which allows a more open hand position and for the arm and elbow to be in a lower position when cutting which is generally more comfortable. </p>
                        <button class="button" ui-sref="tab.junpointoff">select</button>
                    </div>
                </ion-slide>
                <ion-slide> <img src="img/heads/crane.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Crane</h2>
                        <p> Similar to the offset although the top handle is very straight. This allows a much lower elbow position. </p>
                        <button class="button" ui-sref="tab.junpointcrane">select</button>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </ion-view>