    <ion-view view-title="Cutting type">
        <ion-content>
            <div class="bar static text-center"> <strong class="title">What type of cutting will you be doing?</strong> </div>
            <ion-slide-box on-slide-changed="slideChanged(index)">
                <ion-slide> <img src="img/heads/senior.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Point cutting</h2>
                        <p> Point cutting is used to remove bulk from the hair’s ends, allowing layers or graduation built into the haircut to blend together more seamlessly.
                        </p>
                        <button class="button" ui-sref="tab.senpoint">select</button>
                    </div>
                </ion-slide>
                <ion-slide> <img src="img/heads/senior.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Slice cutting</h2>
                        <p> Slice cutting is a technique used on a finished haircut. This removes weight, length and tapers the ends of the hair. It allows very steep graduation to be cut into long hair. </p>
                        <button class="button" ui-sref="tab.senslice">select</button>
                    </div>
                </ion-slide>
                <ion-slide> <img src="img/heads/senior.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Barbering</h2>
                        <p> The scissor over comb technique is one of the most frequently used techniques for barbers. It allows the barber to cut close to the head, following the hairline for precise results.  </p>
                        <button class="button" ui-sref="tab.senbarb">select</button>
                    </div>
                </ion-slide>
                <ion-slide> <img src="img/heads/senior.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Thinning &amp; Texturising</h2>
                        <p> To thin the hair is simply to remove bulk or thickness from the hair but to retain the length of the hair during cutting. </p>
                        <button class="button" ui-sref="tab.senthin">select</button>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </ion-view>
