<ion-view view-title="Handle style">
        <ion-content>
            <div class="bar static text-center"> <strong class="title">What type of handle?</strong> </div>
            <ion-slide-box on-slide-changed="slideChanged(index)">
                <ion-slide> <img src="img/heads/straight.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Straight</h2>
                        <p> The basic design, the handles are symmetrical and straight. </p>
                        <button class="button" ui-sref="tab.stybluntstraight">select</button>
                    </div>
                </ion-slide>
                
                <ion-slide> <img src="img/heads/left.jpg" style="width:100%">
                    <div class="im-wrapper">
                        <h2>Left</h2>
                        <p> Suited for lefties. </p>
                        <button class="button" ui-sref="tab.stybluntleft">select</button>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </ion-view>