<ion-view view-title="Welcome to ScissorSmart&trade;" class="home">
<ion-content>
    <img src="img/home.jpg" style="width:100%">
    <div class="row center" style="margin-bottom:10px;">
   <div class="col" style="text-align:center;">Welcome to ScissorSmart&trade; from Rand Rocket. A handy tool for stylists, of all levels to help you find the right pair of scissors. To get started in finding the right tools for you choose a path below.
        </div>
</div>
    <div class="row center">
   
    <div class="col col-50" style="text-align:center"><button class="frontbutton" ui-sref="tab.account">Guided <br> Search</button></div>    
         <div class="col col-50" style="text-align:center"><button class="frontbutton" ui-sref="tab.chats">Quick <br>Search</button></div>
    </div>

<div class="row"  style="margin-bottom:10px;">
  <div class="col col-50"><p><img src="img/jaguar.png" style="width:90%">
</p></div>
  <div class="col col-50"><img src="img/tondeo.png" style="width:90%;"></div>
</div>


<div class="row center">
  <div class="col"><h2 style="text-align:center; color:white !important;">Our ambassadors</h2></div>
    </div>
<div class="row">
<div class="col"><img src="img/a-barton.jpg" class="roundme"></div>
    <div class="col"><img src="img/clarke.jpg" class="roundme"></div>    
<div class="col"><img src="img/falltrick.jpg" class="roundme"></div>    
</div>
    <div class="row"><span class="quote"><p>“Not only do they make cutting easier, but they stay sharper longer. I’ve used Jaguar for many years now and the variety and quality are well worth the money.”
<strong> - Paul Falltrick</strong></p></span></div>
    <div class="row">
<div class="col"><img src="img/granger.jpg" class="roundme"></div>
    <div class="col"><img src="img/hooker.jpg" class="roundme"></div>    
<div class="col"><img src="img/leestaff.jpg" class="roundme"></div>    
</div>
<div class="row"><span class="quote"><p>“I found the Jaguar Diamond to be very comfortable, well balanced and extremely sharp, ideally suited to the type of haircutting
I like to do.”
    <strong> - Lee Stafford</strong></p></span></div>
<div class="row">
<div class="col"><img src="img/moody.jpg" class="roundme"></div>
    <div class="col"><img src="img/neaves.jpg" class="roundme"></div>    
<div class="col"><img src="img/sloan.jpg" class="roundme"></div>    
</div>
    <div class="row">
<div class="col"><img src="img/stafford.jpg" class="roundme"></div>
    <div class="col"><img src="img/stevens.jpg" class="roundme"></div>    
<div class="col"><img src="img/taylor.jpg" class="roundme"></div>    
</div>




  
    



    
  </ion-content>
</ion-view>
