<ion-view view-title="About Rand Rocket">
<ion-content class="padding">
<div class="im-wrapper" style="text-align:center;">  
<img src="img/rand.jpg" style="width:50%">
<p>Rand Rocket has been foremost in the development of tools of the trade since being the first to introduce ice tempered stainless steel scissors to the hair industry back in 1974 – developments that enable stylists to develop themselves and their craft, developments that enable stylists to do and create more than before.</p>
<p>We list the UK’s top brands of hairdressing and beauty tools and our products are to be found in every major distributor around the UK &amp; Ireland. </p>
<p>Tel: 01207 591 099</p>
   <button style="width:90%; padding:10px; background:transparent; border:1px solid #c90066; color:#c90066;" ng-click="sendEmail()">Contact us</button>

    <span class="text-align:center">Connect with us:</span>

 <div class="row">
    <div class="col"><a href="https://en-gb.facebook.com/randrocket/"><img src="img/facebook.png"></a></div>
    <div class="col"><a href="https://twitter.com/RandRocket"><img src="img/twitter.png"></a></div>
    <div class="col"><a href="https://www.instagram.com/randrocket/"><img src="img/instagram.png"></a></div>

    </div>
<button style="width:90%; padding:10px; background:transparent; border:1px solid #c90066; color:#c90066;"  onclick="window.plugins.socialsharing.share('Message only')">Tell your friends about us...</button>

    
<small>ScissorSmart&trade; App v1.4<br>Developed by Credere Media</small>
    </div>
  </ion-content>
</ion-view>
