<ion-view view-title="Career stage">
    
        <div class="bar static text-center"> <strong class="title">Your career level?</strong> </div>
        <ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide> <img src="img/heads/student.jpg" style="width:100%">
                <div class="im-wrapper">
                    <h2>Student</h2>
                    <p> You are looking for a good comfortable beginners’ scissors. Serrated edge to give control when cutting wet hair is advised. This is the best time to start using an offset scissor to alleviate future health problems. </p>
                    <button class="button" ui-sref="tab.student">select</button>
                </div>
            </ion-slide>
            <ion-slide> <img src="img/heads/junior.jpg" style="width:100%">
                <div class="im-wrapper">
                    <h2>Junior Stylist</h2>
                    <p> By now you will be embarking on your career, looking at scissors that have all round durability with honed edges to allow you to begin slice cutting.  </p>
                    <button class="button" ui-sref="tab.junior">select</button>
                </div>
            </ion-slide>
            <ion-slide> <img src="img/heads/stylist.jpg" style="width:100%">
                <div class="im-wrapper">
                    <h2>Stylist</h2>
                    <p> You’re now well on your way to building a career and an established client base. Scissors that can handle basic cutting as well as slice cutting and advanced techniques are a necessity.  </p>
                    <button class="button" ui-sref="tab.stylist">select</button>
                </div>
            </ion-slide>
            <ion-slide> <img src="img/heads/senior.jpg" style="width:100%">
                <div class="im-wrapper">
                    <h2>Senior Stylist</h2>
                    <p> Passionate and dedicated senior stylists are a success in their own right, thriving on trend and creativity. With a large selection of scissors to choose from you will need to ensure the precision of the scissors are of the highest standards. </p>
                    <button class="button" ui-sref="tab.senior">select</button>
                </div>
            </ion-slide>
            <ion-slide> <img src="img/heads/premium.jpg" style="width:100%">
                <div class="im-wrapper">
                    <h2>Premium Stylist</h2>
                    <p> The creative force behind any salon. Responsible for creating the salon’s signature and building a reputation which the rest of the team will apply to their work.  </p>
                    <button class="button" ui-sref="tab.premium">select</button>
                </div>
            </ion-slide>
        </ion-slide-box>
   
</ion-view>
