<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">



    <ion-tab title="Welcome" icon-off="flaticon-female-hair-shape-and-face-silhouette" icon-on="flaticon-female-hair-shape-and-face-silhouette" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
      <ion-tab title="Guided Search" icon-off="glyph-icon flaticon-female-hair-cut-with-scissors" icon-on="glyph-icon flaticon-female-hair-cut-with-scissors" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Quick Search" icon-off="flaticon-scissors" icon-on="flaticon-scissors" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <ion-tab title="About Us" icon-off="flaticon-scissors-and-comb" icon-on="flaticon-scissors-and-comb" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
      <ion-tab title="Favs" icon-off="flaticon-scissors-and-comb" icon-on="flaticon-scissors-and-comb" href="#/tab/favourites">
    <ion-nav-view name="tab-favourites"></ion-nav-view>
  </ion-tab>




</ion-tabs>
